body, p, div, h1, h3{
    margin: 5px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    width: 1200px;
    margin: 10px;
}
.avatar{
    width: 300px;
}
.contact-item{
    display: flex;
}
.about, .education, .skills, .tools, .languages, .contact{
    font-size: 24px;
}
ul {
    margin: 10px auto;
}
section {
    margin: 5px 0;
}