/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif; }

body {
  margin: 0 auto; }

@media (max-width: 992px) {
  .body.lock {
    overflow: hidden; } }

.container {
  width: 1400px;
  height: 100%; }

.title {
  font-family: 'Poppins';
  font-size: 27px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #157698;
  position: relative;
  margin-left: 35px;
  font-weight: 600; }
  .title:before {
    content: '';
    width: 10px;
    height: 30px;
    background-color: #157698;
    position: absolute;
    top: 0;
    left: -35px; }

.block {
  margin: 50px 0; }

.header {
  max-width: 1920px;
  height: 390px;
  display: block;
  margin: 0 auto; }
  .header-container {
    width: 1400px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #4C4E50; }
    .header-container .header-info {
      position: relative;
      max-width: 992px;
      height: 100%;
      background-color: #fff;
      margin-left: auto;
      margin-right: 0;
      padding: 10px 35px 35px 75px;
      z-index: 5000; }
      .header-container .header-info .header-nav {
        width: 100%;
        height: 60px;
      }
      .header-container .header-info .header-nav .header-nav-list {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
      }
      .header-container .header-info .header-nav .header-nav-list .nav-item .nav-link{
        text-decoration: none;
        font-family: 'Poppins';
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #157698;
      }
      .header-container .header-info .header-nav .header-nav-list .nav-item .nav-link:hover{
        cursor: pointer;
        text-decoration: underline;
      }
      .header-container .header-info .header-title {
        font-size: 58px;
        line-height: 62px;
        color: #A9A9A9;
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 7px; }
        .header-container .header-info .header-title span {
          font-weight: 900;
          color: #157698; }
      .header-container .header-info .header-subtitle {
        font-size: 27px;
        line-height: 30px;
        color: #157698;
        text-transform: uppercase;
        margin-bottom: 35px; }
      .header-container .header-info .social-links {
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .header-container .header-info .social-links .social-link .social-link-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin-right: 55px;
          font-size: 24px;
          line-height: 27px;
          color: #333;
          text-decoration: none; }
          .header-container .header-info .social-links .social-link-item:hover {
            cursor: pointer;
            color: gray; }
          .header-container .header-info .social-links .social-link-item svg {
            width: 35px;
            height: 35px;
            margin-right: 15px; }
          .header-container .header-info .social-links .social-link-item svg path {
            fill: #157698; }
    .header-container .avatar {
      width: 250px;
      height: 250px;
      background-color: #fff;
      position: absolute;
      left: 158px;
      bottom: 0;
      z-index: 100; }
      .header-container .avatar::before {
        content: '';
        width: 1312px;
        height: 390px;
        background-color: #157698;
        position: absolute;
        left: -70px;
        bottom: -70px;
        z-index: -1; }
      .header-container .avatar .avatar-foto {
        z-index: 500;
        width: 100%;
        height: 100%;
        background: url("../img/avatar.PNG") no-repeat;
        background-size: cover;
        background-position: center; }
        .circle{
          fill:#157698;
        }
        .path1{

          fill: #fff !important;
        }

.wrapper {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto; }
  .wrapper-container {
    max-width: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    .wrapper-container .main-aside {
      max-width: 408px;
      max-height: 2300px;
      background-color: #fff;
      display: block;
      padding: 135px 5px 30px 88px; }
      .wrapper-container .main-aside .main-about {
        width: 100%; }
        .wrapper-container .main-aside .main-about .about-text {
          font-family: 'Poppins';
          font-size: 23px;
          line-height: 25px;
          letter-spacing: 0.03em;
          color: #333;
          margin: 50px 0;
          padding-right: 5px; }
      .wrapper-container .main-aside .contact {
        width: 100%; }
        .wrapper-container .main-aside .contact .contact-title {
          font-family: 'Poppins';
          font-size: 27px;
          line-height: 30px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #157698; }
        .wrapper-container .main-aside .contact .contact-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .wrapper-container .main-aside .contact .contact-block .contact-link-item{
              margin-bottom: 25px;
          }
          .wrapper-container .main-aside .contact .contact-block .contact-link-item .contact-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .wrapper-container .main-aside .contact .contact-block .contact-link-item:last-child {
              margin-bottom: 0; }
          .wrapper-container .main-aside .contact .contact-block a {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #4F4F4F;
            text-decoration: none; }
            .wrapper-container .main-aside .contact .contact-block a:hover {
              cursor: pointer;
              color: #999999; }
            .wrapper-container .main-aside .contact .contact-block a img {
              margin-right: 10px; }
      .wrapper-container .main-aside .education {
        width: 100%; }
        .wrapper-container .main-aside .education .education-block .education-item .place {
          font-family: 'Poppins';
          font-size: 23px;
          line-height: 25px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #333;
          margin-bottom: 10px; }
        .wrapper-container .main-aside .education .education-block .education-item .time {
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          letter-spacing: 0.03em;
          color: #999999; }
          .wrapper-container .main-aside .education .education-block .education-item .time span {
            margin: 0 50px;
            position: relative; }
            .wrapper-container .main-aside .education .education-block .education-item .time span:before {
              content: '';
              width: 26px;
              height: 3px;
              background-color: #c4c4c4;
              position: absolute;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              top: 50%;
              left: -35px;
              -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%); }
      .wrapper-container .main-aside .sertificats {
        width: 100%; }
        .wrapper-container .main-aside .sertificats-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .wrapper-container .main-aside .sertificats-block .sertificats-link-item{
            margin-bottom: 15px;}
          .wrapper-container .main-aside .sertificats-block .sertificats-link-item .sertificats-item {
            font-family: 'Poppins';
            font-size: 23px;
            line-height: 25px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #333;
            text-decoration: none; }
            .wrapper-container .main-aside .sertificats-block .sertificats-link-item:last-child {
              margin-bottom: 0; }
            .wrapper-container .main-aside .sertificats-block a:hover {
              cursor: pointer;
              color: #999999; }
      .wrapper-container .main-aside .languages {
        width: 100%; }
        .wrapper-container .main-aside .languages-block {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .wrapper-container .main-aside .languages-block .languages-link-item .languages-item {
            font-family: 'Poppins';
            font-size: 23px;
            line-height: 25px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #333;
            text-decoration: none;
            margin-bottom: 15px; }
            .wrapper-container .main-aside .languages-block p:last-child {
              margin-bottom: 0; }
    .wrapper-container .main {
      width: 992px;
      background-color: #E1E3E5; }
      .wrapper-container .main .main-info {
        width: 100%;
        max-height: 2300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .wrapper-container .main .main-info .skills {
          padding-top: 135px; }
          .wrapper-container .main .main-info .skills .skill-boks {
            max-width: 50%;
            margin: 50px auto; }
            .wrapper-container .main .main-info .skills .skill-boks .skills-item {
              width: 450px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              margin-bottom: 25px; }
              .wrapper-container .main .main-info .skills .skill-boks .skills-item:last-child {
                margin-bottom: 0; }
              .wrapper-container .main .main-info .skills .skill-boks .skills-item .skill-name {
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 23px;
                line-height: 25px;
                letter-spacing: 0.01em;
                color: #333333; }
              .wrapper-container .main .main-info .skills .skill-boks .skills-item progress {
                border: 0;
                width: 300px;
                height: 15px;
                border-radius: 5px;
                background: #f1f1f1; }
              .wrapper-container .main .main-info .skills .skill-boks .skills-item progress::-webkit-progress-bar {
                width: 300px;
                height: 20px;
                border-radius: 5px;
                background: #f1f1f1; }
              .wrapper-container .main .main-info .skills .skill-boks .skills-item progress::-webkit-progress-value {
                border-radius: 5px;
                background: #157698; }
              .wrapper-container .main .main-info .skills .skill-boks .skills-item progress::-moz-progress-bar {
                border-radius: 5px;
                background: #157698; }
        .wrapper-container .main .main-info .tools .tool-boks {
          width: 70%;
          padding: 0 50px;
          margin: 50px auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .wrapper-container .main .main-info .tools .tool-boks .tool-item .tool-name {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 23px;
            line-height: 25px;
            letter-spacing: 0.01em;
            color: #333333;
            margin-right: 25px; }
        .wrapper-container .main .main-info .projects .project-boks {
          width: 100%;
          padding: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          /* -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; */
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .wrapper-container .main .main-info .projects .project-boks .project-item {
            width: 30%;
            height: 200px;
            border-radius: 15px;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            margin-bottom: 50px; }
            .wrapper-container .main .main-info .projects .project-boks .project-item:hover {
              cursor: pointer;
              box-shadow: 0px 0px 9px 5px rgba(17, 17, 136, 0.35);
              -webkit-box-shadow: 0px 0px 9px 5px rgba(17, 17, 136, 0.35);
              -moz-box-shadow: 0px 0px 9px 5px rgba(17, 17, 136, 0.35); }
            .wrapper-container .main .main-info .projects .project-boks .project-item a {
              width: 100%;
              height: 100%;
              display: block;
              margin-bottom: 15px;
            }
            .wrapper-container .main .main-info .projects .project-boks .project-item .project-name {
              font-family: 'Poppins';
              font-weight: 400;
              font-style: italic;
              font-size: 23px;
              line-height: 25px;
              letter-spacing: 0.01em;
              color: #333333;
              text-align: center;
            }
          .wrapper-container .main .main-info .projects .project-boks .item-1 {
            background: url("../img/project-1.jpeg") no-repeat;
            background-size: cover; }
          .wrapper-container .main .main-info .projects .project-boks .item-2 {
            background: url("../img/project-2.jpeg") no-repeat;
            background-size: cover; }
          .wrapper-container .main .main-info .projects .project-boks .item-3 {
            background: url("../img/project-3.jpeg") no-repeat;
            background-size: cover; }
          .wrapper-container .main .main-info .projects .project-boks .item-4 {
            background: url("../img/project-4.jpeg") no-repeat;
            background-size: cover;
            background-position: center;}
          .wrapper-container .main .main-info .projects .project-boks .item-5 {
            background: url("../img/project-5.jpeg") no-repeat;
            background-size: cover;}
          .wrapper-container .main .main-info .projects .project-boks .item-6 {
            background: url("../img/project-6.png") no-repeat;
            background-size: cover;
            background-position: center;}
          .wrapper-container .main .main-info .projects .project-boks .item-7 {
            background: url("../img/project-7.jpg") no-repeat;
            background-size: cover;
            margin-bottom: 0; }
          .wrapper-container .main .main-info .projects .project-boks .item-8 {
            background: url("../img/project-8.png") no-repeat;
            background-size: cover;
            margin-bottom: 0; }
          .wrapper-container .main .main-info .projects .project-boks .item-9 {
           background: url("../img/project-9.jpg") no-repeat;
            background-size: cover;
            margin-bottom: 0; }
        .wrapper-container .main .main-info .code .code-block {
          padding: 35px 0; }
          .wrapper-container .main .main-info .code .code-block pre {
            font-size: 23px;
            line-height: 25px;
            font-style: italic;
            letter-spacing: 0.01em;
            color: #333333; }
            .wrapper-container .main .main-info .code .code-block pre span {
              color: red; }
            .wrapper-container .main .main-info .code .code-block pre .style1 {
              color: orange; }
            .wrapper-container .main .main-info .code .code-block pre .style2 {
              color: blue; }
        .wrapper-container .main .main-info .hobbies {
          background-color: #4C4E50;
          width: 100%;
          padding: 50px auto; }
          .wrapper-container .main .main-info .hobbies .hobbies-title {
            color: #fff;
            padding-top: 50px; }
            .wrapper-container .main .main-info .hobbies .hobbies-title:before {
              background-color: #fff;
              top: 50px; }
          .wrapper-container .main .main-info .hobbies .hobby-boks {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 70%;
            margin: 50px auto; }
            .wrapper-container .main .main-info .hobbies .hobby-boks .hobby-item {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              .wrapper-container .main .main-info .hobbies .hobby-boks .hobby-item p {
                margin-top: 15px;
                color: #fff;
                font-weight: 400;
                font-size: 23px;
                line-height: 25px;
                letter-spacing: 0.01em; }

.footer {
  max-width: 1920px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }
  .footer-container {
    width: 1400px;
    min-height: 100px;
    padding: 0 20px;
    background-color: #E1E3E5; }
    .footer-container .footer-wrapper {
      padding: 0 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer-container .footer-wrapper .year {
        font-family: 'Poppins';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.01em;
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg); }
      .footer-container .footer-wrapper a {
        width: 100px;
        min-height: 100px; }
        .footer-container .footer-wrapper a:hover {
          cursor: pointer; }
      .footer-container .footer-wrapper a svg {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
        width: 100px;
        height: 80px; }
      .footer-container .footer-wrapper .git svg {
        width: 50px;
        height: 50px;
        margin-right: 25px;
        -webkit-transform: none;
                transform: none; }
      .footer-container .footer-wrapper .git {
        width: 296px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.01em;
        color: black; }
